
body{
	font-family: Tahoma, Arial;
    background: url('squared_metal.png');
    background-repeat: repeat;
}

/*NAVIGATION*/
header{
	width: 100%;
	height: 80px;
	background-color: rgba(50,50,50,0.6);
	position: fixed;
    z-index: 2;
	top: 0;
	left: 0;
	}
	#navContainer{
		max-width:900px;
		margin:auto;
		padding:0;
		}
		#logo{
            font-weight: normal;
			float: left;
			color: white;
			padding: 0 10px;
            line-height: 1em;
			}
		nav{
			height: 50px;
			padding: 20px 10px 10px 10px;
			text-align:center;
			float:right;
			}
			nav ul{
				padding-top: 10px;
				margin:0;
				height:auto;
			}
			nav li{
				display:inline;
			}
			nav li a{
                -webkit-transition: all 0.4s  ease;
                -moz-transition: all 0.4s  ease;
                -o-transition: all 0.4s  ease;
				text-decoration:none;
				color:white;
				padding:10px;
				border-radius:4px;
			}
			nav li a:hover{
                -webkit-transition: all 0.4s  ease;
                -moz-transition: all 0.4s  ease;
                -o-transition: all 0.4s  ease;
				color:black;
				background-color:white;
			}
			nav #pull {
				display: none;
			}


/*CONTENT*/
.container{
    max-width: 900px;
    padding-top: 100px;
    padding-bottom: 20px;
    margin:auto;
    }

.banner{
    position:absolute;
    max-width: none;
    width: 100%;
    background: url('backgroundEdit.png');
    background-size: cover;
    height:300px;
    top:80px;
    left:0;
}

.info{
    position:relative;
    top:400px;
}
    .wrapper{
    background: rgb(200,200,200);
    border-radius: 30px;
    padding:30px;
    }
    .wrapper h3{
        text-align:center;
        color: rgb(100,100,100);
        font-weight:normal;
        font-size: 1.5em;
    }
    .wrapper p{
        color: rgb(60,60,60);
    }



/*FOOTER*/
footer{
    width: 100%;
    height: 80px;
    background-color: rgba(50,50,50,0.6);
    position:absolute;
    left:0;
    bottom:0;
}
/*RESPONSIVE*/
@viewport{
    zoom: 1.0;
    width: device-width;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
@media screen and (max-width: 700px) {
#header{
	width:100%;
	height:auto;
    background-color: rgba(50,50,50,0.6);
	position:absolute;
	top:0;
	left:0;
	}
	#navContainer{
		max-width:900px;
		height:auto;
		margin:auto;
		padding:0;
		}
		#logo{
			width:100%;
			text-align:center;
			color:white;
			}
		nav{
			height:auto;
			width:100%;
			padding:0;
			text-align:center;
			}
			nav ul{
				padding:0;
				margin:0;
			}
			nav li{
				display:block;
				height:45px;
			}
			nav li a{
				box-sizing:border-box;  
				-moz-box-sizing:border-box;  
				-webkit-box-sizing:border-box; 
				text-decoration:none;
				color:white;
				width:100%;
				height:100%;
				display:block;
				padding:10px;
				border-radius:0;
				border-top: 2px solid white;
			}
			nav #pull {
				border-top: 2px solid white;
				font-weight:normal;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				-webkit-box-sizing:border-box;
				text-decoration:none;
				color:white;
				text-align:left;
				display: block;
				width: 100%;
				position: relative;
				padding:10px 20px 10px 30px;
			}
			nav #pull:after {
				content:"";
				background: url('nav-icon.png') no-repeat;
				width: 30px;
				height: 30px;
				float:right;
			}

}