/*CONTENT*/
.container{
    max-width: 900px;
    padding:20px 0;
    margin:auto;
    position:relative;
}

.banner{
    margin-top: 80px;
    color: rgb(100,100,100);
    font-size: 1.5em;
    }
    .banner h1{
        font-size: 2em;
        line-height: 1em;
        color: rgb(50,50,50);
        font-weight:500;
    }
    .banner div{
        max-width:700px;
    }

main{
    background: rgb(200,200,200);
    border-radius: 30px;
    padding:30px;
    max-width:650px;
    display: inline-block;
    }
    main details{
            width:100%;
            margin-bottom:10px;
            outline:none;
            cursor: pointer;
            display:inline-block;

        }
        main summary{
            outline:none;
            margin-bottom: 20px;
        }

        main table{
            width: 100%;
            border-collapse:collapse;
            font-size: 0.8em;
            }
            table tr td:first-child{
                width:180px;
            }
            table td{
                border:solid 1px grey;
                padding:10px;
            }
            table td:hover{
                background:rgb(230,230,230);
            }
    main article{
        margin-bottom:60px;
    }

#sideNav{
    border: 1px solid black;
    width: 150px;
    display: inline-block;
    position: absolute;
    top: 20px;
    margin-left:20px;
}


@media screen and (max-width: 800px) {
    .banner{
        margin-top:120px;
    }
    table tr td:first-child{
        width:100px;
    }
    #sideNav{
        display:none;
    }
}