/*CONTENT*/
.container{
    max-width: 900px;
    padding:20px 0;
    margin:auto;
}

main{
    background: rgb(200,200,200);
    border-radius: 30px;
    padding:30px;
    width:650px;
    display: inline-block;
    margin-top:80px;
    }
    main details{
            margin-bottom:10px;
            outline:none;
            cursor: pointer;
            display:inline-block;

        }
        main summary{
            outline:none;
            margin-bottom: 20px;
        }

        main table{
            width:100%;
            border-collapse:collapse;
            font-size: 0.8em;
            }
            table tr td:first-child{
                width:150px;
            }
            table td{
                border:solid 1px grey;
                padding:10px;
            }
            table td:hover{
                background:rgb(230,230,230);
            }
    main article{
        margin-bottom:60px;
    }

#sideNav{
    border: 1px solid black;
    width: 150px;
    float: right;
    margin-top:80px;
}


@media screen and (max-width: 700px) {

}