
body{
	font-family: Tahoma, Arial;
    background: url('../img/squared_metal.png');
    background-repeat: repeat;
}
sup{
    vertical-align: top;
}
/*NAVIGATION*/
header{
	width: 100%;
	height: 80px;
    background-color: rgb(50,50,50);
	background-color: rgba(50,50,50,0.6);
	position: fixed;
    z-index: 2;
	top: 0;
	left: 0;
	}
    #logo a{
        text-decoration: none;
        color:white;
    }
	#navContainer{
		max-width:900px;
		margin:auto;
		padding:0;
		}
		#logo{
            font-weight: normal;
			float: left;
			color: white;
			padding: 0 10px;
            line-height: 1em;
	    }
		nav{
			height: 50px;
			padding: 20px 10px 10px 10px;
			text-align:center;
			float:right;
			}
			nav ul{
				padding-top: 10px;
				margin:0;
                list-style: none;
			}
			nav ul li{
                -webkit-transition: all 0.4s  ease;
                -moz-transition: all 0.4s  ease;
                -o-transition: all 0.4s  ease;
				color:white;
                display: inline-block;
			    }
                nav li a{
                    display: block;
                    padding: 10px;
                    border-radius: 4px;
                    text-decoration: none;
                    color: inherit;
                }
                nav li div{
                    height: 20px;
                }
			    nav ul li a:hover{
                    -webkit-transition: all 0.4s  ease;
                    -moz-transition: all 0.4s  ease;
                    -o-transition: all 0.4s  ease;
                    color:black;
                    background-color:white;
			    }
                nav ul li:hover ul{
                    -webkit-transition: max-height 1s  ease;
                    -moz-transition: max-height 1s  ease;
                    -o-transition: max-height 1s  ease;
                    max-height: 1000px;
                }
                    nav ul ul{
                        -webkit-transition: max-height 0.4s  ease;
                        -moz-transition: max-height 0.4s  ease;
                        -o-transition: max-height 0.4s  ease;
                        display: inline-block;
                        position: absolute;
                        margin-top: 10px;
                        padding: 0;
                        border-radius: 8px;
                        color: black;

                        max-height:0;
                        overflow: hidden;

                        background-color: rgb(50,50,50);
                        background-color: rgba(100,100,100,0.9);
                    }
                    nav ul ul li{
                        float:none;
                        color: white;
                        display: block;
                        padding: 10px;
                    }





			nav #pull {
				display: none;
			}




/*FOOTER*/
footer{
    width: 100%;
    height: 50px;
    background-color: rgba(50,50,50,0.6);
    position:absolute;
    left:0;
    text-align: center;
    line-height: 4em;
    font-size:0.8em;
    color:white;
    }
    footer a{
        text-decoration: none;
        color:white;
    }