/*CONTENT*/
.container{
    max-width: 900px;
    padding:20px 0;
    margin:auto;
    text-align: center;
}
.banner{
    margin-top:40px;
    }
    .container .row{
        -webkit-transition: all 0.3s  ease;
        -moz-transition: all 0.3s  ease;
        -o-transition: all 0.3s  ease;
        opacity:0.6;
        margin-top:60px;
        width: 280px;
        height: 280px;
        display: inline-block;
    }
    .container .row:hover{
        -webkit-transition: all 0.3s  ease;
        -moz-transition: all 0.3s  ease;
        -o-transition: all 0.3s  ease;
        opacity:0.9;
    }
    .row span{
        font-weight: bold;
        color: rgb(70,150,220);
        font-size: 1.4em;
        line-height: 4em;
        color: rgb(0,100,180);
    }
    .row:nth-child(1){
        background: url('../img/icon-website.png');
    }
    .row:nth-child(2){
        background: url('../img/icon-guys.png');
    }
    .row:nth-child(3){
        background: url('../img/icon-algorithms.png');
    }
    .row:nth-child(1):hover{
        background: url('../img/icon-website-hover.png');
    }
    .row:nth-child(2):hover{
        background: url('../img/icon-guys-hover.png');
    }
    .row:nth-child(3):hover{
        background: url('../img/icon-algorithms-hover.png');
    }


.info{
    margin-top:20px;
    text-align: left;
    }
    main{
        background: rgb(220,220,220);
        border-radius: 30px;
        padding:30px;
    }
    main h2{
         text-align:center;
         color: rgb(0,100,180);
         font-weight:normal;
         font-size: 1.8em;
     }
    main h3{
        text-align:center;
        color: rgb(0,100,180);
        font-weight:normal;
        font-size: 1.5em;
    }
    main article{
        -webkit-box-shadow: 0px 0px 20px rgb(0,100,180);
        -moz-box-shadow: 0px 0px 20px rgb(0,100,180);
        box-shadow: 0px 0px 20px rgb(0,100,180);
        border-radius: 20px;
        padding: 30px;
    }
    main p{
        color: rgb(100,100,100);
        line-height: 1.6em;
        }

        main aside{
            text-align: center;
            margin-top: 30px;
        }
        aside a{
            -webkit-transition: all 0.3s  ease;
            -moz-transition: all 0.3s  ease;
            -o-transition: all 0.3s  ease;
            display:inline-block;
            width: auto;
            margin:0 30px;
            padding: 20px;
            background-color: rgb(70,150,220);
            background-color: rgba(70,150,220,0.8);
            text-decoration: none;
            color: white;
            border-radius: 10px;
        }
        aside a:hover{
            -webkit-transition: all 0.2s  ease;
            -moz-transition: all 0.2s  ease;
            -o-transition: all 0.2s  ease;
            background-color: rgb(70,150,220);
            background-color: rgba(70,150,220,0.8);
            color:black;
        }


@viewport{
    zoom: 1.0;
    width: device-width;
}
@-ms-viewport{
    width: device-width;
    zoom: 1.0;
}

@media screen and (max-width: 700px) {
    .row{

    }
    .row:nth-child(1){
        opacity: 1;
        color:rgb(21,139,152);
        background: url('../img/icon-website-hover.png');
    }
    .row:nth-child(2){
        opacity: 1;
        color: rgb(255,42,42);
        background: url('../img/icon-guys-hover.png');
    }
    .row:nth-child(3){
        opacity: 1;
        color: rgb(0,180,0);
        background: url('../img/icon-algorithms-hover.png');
    }
    aside a{
        -webkit-transition: all 0.3s  ease;
        -moz-transition: all 0.3s  ease;
        -o-transition: all 0.3s  ease;
        display:inline-block;
        width: auto;
        margin:0 5px;
        text-decoration: none;
        border-radius: 10px;
        font-size:0.9em;
        background: rgb(100,150,200);
        color:white;
    }
    .info{
        margin-top:20px;
        text-align: left;
        }
        main{
            background: rgb(200,200,200);
            border-radius: 15px;
            padding:15px;
        }
}