
body{
    font-family: 'Open Sans', Tahoma, Arial;
    width: auto;
    background: url('../img/squared_metal.png');
    background-repeat: repeat;
}

/*NAVIGATION*/
header{
    width: 100%;
    height: 55px;
    /*
    background-color: rgb(50,50,50);
    background-color: rgba(50,50,50,0.8);
    */
    background-color: rgb(70,150,220);
    background-color: rgba(70,150,220,0.8);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}
header sup{
    vertical-align: top;
}

#logoContainer{
    float: left;
    width: 250px;
}

#searchBarContainer{
    float: left;
    margin-top: 13px;
}

.typeahead{
    width: 350px;
    height: 19px;

    font-size:16px;

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:5px;
    border: 1px solid #ccc;

    padding: 5px;
    font-weight:bold;
}

.typeahead:focus{
    box-shadow: 0 0 5px black;
    border: 1px solid black;
}

.tt-dropdown-menu{
    width:100%;
}

.tt-hint{
    color: gray;
}



.tt-suggestion.tt-cursor{
    color:red;
}

.tt-suggestion {
  padding: 3px 0px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}



#navContainer{
    max-width:970px;
    margin:auto;
    padding:0;
}
    #logo{
        -webkit-transition: all 0.4s  ease;
        -moz-transition: all 0.4s  ease;
        -o-transition: all 0.4s  ease;
        margin-top:0px;
        float:left;
        width:260px;
        height:50px;
        background: url('../img/logo.png') no-repeat;
        opacity: 1;
        z-index: 10;
        }
    #logoHover{
         -webkit-transition: all 0.4s  ease;
         -moz-transition: all 0.4s  ease;
         -o-transition: all 0.4s  ease;
        margin-top:0px;
        float:left;
        width:260px;
        height:50px;
        background: url('../img/logo_hover.png') no-repeat;
        position:relative;
        left: -260px;
        opacity:0;
        z-index: 6;
        }
    nav{
        margin-top:0px;
        height: 50px;
        padding: 5px 10px 0px 0px;
        text-align:center;
        float:right;
        }
        nav ul{
            padding: 0;
            margin:0;
            list-style: none;
        }
        nav ul li{
            -webkit-transition: all 0.4s  ease;
            -moz-transition: all 0.4s  ease;
            -o-transition: all 0.4s  ease;
            color:white;
            display: inline-block;
        }
        nav>ul>li{
            margin: 0 3px;
        }
        nav li a{
            -webkit-transition: all 0.4s  ease;
            -moz-transition: all 0.4s  ease;
            -o-transition: all 0.4s  ease;
            display: block;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
            color: inherit;
        }
        nav ul li.active>a{
            -webkit-transition: all 0.4s  ease;
            -moz-transition: all 0.4s  ease;
            -o-transition: all 0.4s  ease;
            color:black;
            background-color:white;
            background-color:rgba(255,255,255, 0.7);
        }
        nav ul li a:hover{
            -webkit-transition: all 0.4s  ease;
            -moz-transition: all 0.4s  ease;
            -o-transition: all 0.4s  ease;
            color:black;
            background-color:white;
            }
            nav ul li:hover ul{
                -webkit-transition: max-height 0.5s  ease;
                -moz-transition: max-height 0.5s  ease;
                -o-transition: max-height 0.5s  ease;
                max-height: 500px;
            }
            nav ul ul{
                -webkit-transition: max-height 0.5s  ease;
                -moz-transition: max-height 0.5s  ease;
                -o-transition: max-height 0.5s  ease;
                display: inline-block;
                position: absolute;
                margin-top: -5px;
                padding: 0;
                border-radius: 15px;
                color: black;

                max-height:0;
                overflow: hidden;

                background-color: rgb(70,150,220);
                background-color: rgba(70,150,220,0.8);
            }
            nav ul ul li{
                float:none;
                color: white;
                display: block;
                padding: 10px;
            }

    nav #pull {
        display: none;
    }




/*FOOTER*/
footer{
    width: 100%;
    height: 50px;
    background-color: rgb(70,150,220);
    background-color: rgba(70,150,220,0.8);
    position:absolute;
    left:0;
    text-align: center;
    line-height: 4em;
    font-size:0.8em;
    color:white;
}
footer a{
    text-decoration: none;
    color:white;
}