/*CONTENT*/
.container{
    max-width: 900px;
    padding:20px 0;
    margin:auto;
    position:relative;
}

.banner{
    margin-top: 80px;
    color: rgb(100,100,100);
    font-size: 1.5em;
    }
    .banner h1{
        font-size: 2em;
        line-height: 1em;
        color: rgb(50,50,50);
        font-weight:500;
    }
    .banner div{
        max-width:700px;
    }

main{
    background: rgb(200,200,200);
    border-radius: 30px;
    padding:30px;
    max-width:650px;
    display: inline-block;
    }
    main h2{
        font-size:2em;
    }
    main h3{
        font-size:1.4em;
    }

#sideNav{
    width: 150px;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 20px;
    margin-left:20px;
    padding: 0;
    }
    #sideNav ul{
        list-style: none;
        padding-left: 0;
        text-align: right;
        }
        #sideNav ul li{
            display: block;
            padding-left: 5px;
            margin: 10px 0;
            cursor: pointer;
            color:rgb(100,100,100);
        }
        #sideNav>ul>li ul{
            -webkit-transition: all 0.4s  ease;
            -moz-transition: all 0.4s  ease;
            -o-transition: all 0.4s  ease;
            max-height:0;
            overflow: hidden;
        }
        #sideNav>ul>li.current ul{
            -webkit-transition: all 0.6s  ease;
            -moz-transition: all 0.6s  ease;
            -o-transition: all 0.6s  ease;
            max-height: 1000px;
        }
        #sideNav>ul>li:hover ul{
            -webkit-transition: all 0.6s  ease;
            -moz-transition: all 0.6s  ease;
            -o-transition: all 0.6s  ease;
            max-height: 1000px;
        }
        #sideNav h5{
            font-size: 1.2em;
            font-weight: normal;
            margin: 0;
        }
        #sideNav>ul>li>ul>li{
            font-weight: lighter;
        }
        #sideNav ul .inactive{
            -webkit-transition: all 0.4s  ease;
            -moz-transition: all 0.4s  ease;
            -o-transition: all 0.4s  ease;
        }
        #sideNav ul .inactive:hover{
            -webkit-transition: all 0.4s  ease;
            -moz-transition: all 0.4s  ease;
            -o-transition: all 0.4s  ease;
            border-left: 3px solid rgb(150,150,150);
            color:black;
        }
        #sideNav ul .active{
            border-left: 3px solid rgb(100,100,100);
            color:black;
        }


@media screen and (max-width: 800px) {
    .banner{
        margin-top:120px;
    }
    #sideNav{
        display:none;
    }
}