@viewport{
    zoom: 1.0;
    width: device-width;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
@media screen and (max-width: 700px) {
header{
	width:100%;
	height:auto;
    background-color: rgb(70,150,220);
    background-color: rgba(70,150,220,0.8);
	position:absolute;
	top:0;
	left:0;
	}
	#navContainer{
		max-width:900px;
		height:auto;
		margin:auto;
		padding:0;
		}
        #navContainer>div{
            margin: auto;
            width:260px;
        }
		#logo{
            margin: 30px auto;
		}
        #logo:hover{
            background: url('../img/logo.png') no-repeat;
        }
		nav{
			height:auto;
			width:100%;
			padding:0;
			text-align:center;
			}
			nav ul{
				padding:0;
				margin:0;
			}
			nav ul li{
				display: block;
                margin:0;
			}
			nav li a{
				box-sizing:border-box;  
				-moz-box-sizing:border-box;  
				-webkit-box-sizing:border-box; 
				text-decoration:none;
				color:white;
				width:100%;
				height:100%;
				display:block;
				padding:10px;
				border-radius:0;
				border-top: 2px solid white;
			    }
                nav li div{
                    height: auto;
                }
                nav ul ul{
                    max-height: 1000px;
                    position: relative;
                    z-index: 5;
                    background: none;
                    border-radius: 0;
                }
                nav ul ul li{
                    font-size: 0.8em;
                    height: 40px;
                    width: 40%;
                    display: inline-block;
                }
			nav #pull {
				border-top: 2px solid white;
				font-weight:normal;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				-webkit-box-sizing:border-box;
				text-decoration:none;
				color:white;
				text-align:left;
				display: block;
				width: 100%;
				position: relative;
				padding:10px 20px 10px 30px;
			}
			nav #pull:after {
				content:"";
				background: url('../img/nav-icon.png') no-repeat;
				width: 30px;
				height: 30px;
				float:right;
			}

}